<div class="content_box">
	<h2>Register</h2>
	<%= form_for @user do |f| %>	
		<label for="user_username">Username</label>
		<%= f.text_field :username %>
		
		<label for="user_password">Password</label>
		<%= f.password_field :password %>
		
		<label for="user_password_confirmation">Password (confirm)</label>
		<%= f.password_field :password_confirmation %>
		
		<label for="user_bio">Bio</label>
		<%= f.text_area :bio %>
		
		<%= f.submit "register" %>
	<% end %>
</div>