<div class="linkbox">
	<div class="voting link_voting">
		<%= form_for :vote, :url => vote_story_path(story), :remote => true do |f| %>
			<input type="hidden" name="vote" value="<%= story.upvoting_users.include?(current_user) ? 0 : 1 %>" />
			<%= f.submit "▲", :class => ("sel" if story.upvoting_users.include? current_user) %>
		<% end %>
		<%= form_for :vote, :url => vote_story_path(story), :remote => true do |f| %>
			<input type="hidden" name="vote" value="<%= story.downvoting_users.include?(current_user) ? 0 : -1 %>" />
			<%= f.submit "▼", :class => ("sel" if story.downvoting_users.include? current_user) %>
		<% end %>
	</div>
	
	<%= link_to story.title, story, :class => "link" %>
	<div class="details">
		<span class="points"><%= pluralize(story.points, "point") %></span> by <%= link_to story.user.username, story.user %>
		in <%= link_to story.category.name, story.category %> <%= time_ago_in_words(story.created_at) %> ago
		| <%= link_to pluralize(story.all_comments.count, "comment"), story %>
	</div>
</div>