<div class="content_box">
	<h2>Submit Link</h2>
	<%= form_for @story do |f| %>
		<label for="story_title">Title</label>
		<%= f.text_field :title %>
		<label for="story_url">URL</label>
		<%= f.text_field :url %>
		<label for="story_category_name">Category</label>
		<%= f.text_field :category_name %>
		<%= f.submit "post" %>
	<% end %>
</div>